:root {
  --main-color: #f71a2c;
  --second-color: #6d2a2a;
  --main-font: 'Heebo';
  --second-font: 'Krona One';
  --white: #fff;
  --black: #000;
  --price-color: #a5a5a5;
}

@font-face {
  font-family: 'Heebo';
  src:
          url("../fonts/Heebo/Heebo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Krona One';
  src:
          url("../fonts/Krona_One/KronaOne-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 62%;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #222;
}

body,
a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  font-family: var(--main-font), serif;
  letter-spacing: 0;
  text-align: left;
  color: #1f1f1f;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  justify-content: center;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
  font-family: var(--second-font), serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.btn {
  font-family: var(--main-font), sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  line-height: 60px;
  letter-spacing: 0.8px;
  fill: var(--white);
  color: var(--white);
  background-color: var(--main-color);
  border-radius: 4px;
  border: 0;
  border-color: var(--main-color);
  padding: 0 38px 0 38px;
  cursor: pointer;
  width: 100%;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
  }
}

.error {
  color: var(--main-color);
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

a, router-link {
  color: var(--main-color);
  text-decoration: none;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.d-flex {
  display: flex;
}

.p-10 {
  padding: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
}

.error-message {
  color: var(--main-color);
  font-size: 14px;
  margin-top: 5px;
}

.links {
  margin-top: 20px;
  text-align: center;
}

.login-page {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;

  h1 {
    font-size: 36px;
    color: var(--black);

    @media (max-width: 450px) {
      font-size: 25px;
    }
  }

  input {
    width: 100%;
    padding: 16px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: var(--main-color);
      outline: none;
    }
  }
}

.login {
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.form {
  flex: 1.5;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  flex: 1;
  background-color: #333;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;

  img {
    max-width: 180px;
    height: auto;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}